<% if true %>
<ul class="nav navbar-nav">
  <li class="<%= 'active' if params[:action] == 'welcome' %>"><%= link_to 'Welcome', wcc_style.welcome_wcc_style_pages_path, accesskey: 1 %></li>
  <li class="<%= 'active' if params[:controller] == 'resources' %>"><%= link_to 'Resources Demo', '/resources' %></li>
  <li class="<%= 'active' if params[:controller] == 'keywords' %>"><%= link_to 'Keywords Demo', '/keywords' %></li>
</ul>

<ul class="nav pull-right navbar-nav">
  <%= render 'wcc_style/layouts/subnavigation_right_links' %>     
</ul>

<% else %>
<ul class="nav navbar-nav">
  <li class "<%= 'nav navbar-nav' %>"><%= link_to 'Sign in with Google', '/auth/google_oauth2' %></li>
</ul>
<% end %>